<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="notify" class="alert alert-success">
                {{ notify }}
            </div>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
                <p *ngFor="let error of errors">
                    {{ error }}
                </p>
            </div>
            <div class="card">
                <form class="box" [formGroup]="loginForm" (ngSubmit)="login()">
                    <h1>Registration</h1>
					<input type="text" [(ngModel)]="formData.firstname"  #firstname="ngModel" required name="firstname" placeholder="Firstname">
					<input type="text" [(ngModel)]="formData.lastname" name="lastname" #lastname="ngModel" required placeholder="Lastname">
					<input type="text" [(ngModel)]="formData.email" name="email" #email="ngModel" required  placeholder="Email">
					<input type="text" [(ngModel)]="formData.password" name="password" #password="ngModel" required  placeholder="password">
					<input type="text" [(ngModel)]="formData.passwordConfirmation" #passwordConfirmation="ngModel" name="passwordConfirmation" placeholder="Confirm Password" required>
					<input type="text" [(ngModel)]="formData.addressline1" #addressline1="ngModel" name="addressline1" placeholder="Address Line 1" required>
					<input type="text" [(ngModel)]="formData.addressline2" #addressline2="ngModel" name="addressline2" placeholder="Address Line 2" >
					<input type="text" [(ngModel)]="formData.city" #city="ngModel" name="city" placeholder="City" required>
					<input type="text" [(ngModel)]="formData.state" #state="ngModel" name="state" placeholder="State" required>
					<input type="text" [(ngModel)]="formData.zipcode" #zipcode="ngModel" name="zipcode" placeholder="Zipcode" required>
                    
                    
                    

                    <input (click)="register()" type="submit" [disabled]="!registerForm.form.valid"value="Register">

                </form>
            </div>
        </div>
    </div>
</div>